{% extends "base.html" %}

{% block content %}
    <link href="\static\css\style.css" rel="stylesheet" type="text/css">
    <div class="text">
        <h1>{{item.organization_name}}</h1>
        <p>{{item.description}}</p>
        <img src="../static/img/{{item.address_ll}}.png" class="img-fluid" alt="YANDEX MAP">
  </div>
      <div>
            <a class="btn btn-warning" href="/addorganization">Изменить</a>
            <a class="btn btn-danger" href="/deleteorganization/{{item.id}}">Удалить запись</a>
      </div>
{% endblock %}
