{% extends "base.html" %}

{% block content %}

    <h1>{{item.organization_name}}</h1>
    <img src="../static/img/{{item.address_ll}}.png" class="img-fluid" alt="YANDEX MAP">
        {% if current_user.is_authenticated and current_user.id == item.owner_id %}
            <div>
                <a class="btn btn-warning" href="/addorganization">Изменить</a>
                <a class="btn btn-danger" href="/deleteorganization/{{item.id}}">Удалить запись</a>
            </div>
        {% endif %}
{% endblock %}