{% extends "base.html" %}

{% block content %}

<link href="../statics/css/style.css" rel="stylesheet" type="text/css">
<div class="box">
    <img src="../statics/constant_img/img.jpg" class="img">
    <div class="name">Название итд</div>
    <div class="data">
        <span class="place">place</span>
        <span class="date">date</span>
    </div>
    <button onclick="change(this)"><img src="../statics/constant_img/off.svg" width="15px"></button>
</div>
<script>
      var c=1;
      function change(el){
        let a = el.querySelector("img");
        if(c){a.src = "../statics/constant_img/on.svg"; c=0;}
        else {a.src = "../statics/constant_img/off.svg"; c=1;}
      }
</script>
{% endblock %}